go 1.20

use (
	algorithms/count-min-sketch
	algorithms/boyer-moore-majority
	algorithms/cuckoo-hashing
	algorithms/hyperloglog
	algorithms/rabin-karp
	algorithms/simhash
	algorithms/run-length-encoding
	algorithms/roaring-bitmap
	bloom-filter
	btree/b-tree-mem
	btree/b-tree-on-disk
	hash-ring
	merging-k-sorted-list
	skiplist
	bitcask
	lsm
	commons-io
	commons-lang/string_utils
	bitset
	hash/hashmap
	t-digest
	lodash
	inverted-index
)
